<h1>Hero Form</h1>


<div [hidden]="submitted">


  <form #heroForm="ngForm" (ngSubmit)="onSubmit()" appIdentityRevealed>

    <div *ngIf="heroForm.errors?.identityRevealedValidator && (heroForm.touched || heroForm.dirty)" class="cross-validation-error-message alert alert-danger">
      Name cannot match alter ego.
    </div>

    <label for="name">
      Name
      <input
        id="name"
        name="name"
        required
        minlength="4"
        appForbiddenName="bob"
        [(ngModel)]="model.name"
        #name="ngModel" >

      <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="alert alert-danger">

        <div *ngIf="name.errors.required">
          Name is required.
        </div>
        <div *ngIf="name.errors.minlength">
          Name must be at least 4 characters long.
        </div>
        <div *ngIf="name.errors.forbiddenName">
          Name cannot be Bob.
        </div>

      </div>
    </label>


    <label for="alterEgo">
      Alter Ego
      <input type="text" id="alterEgo"
             [(ngModel)]="model.alterEgo" name="alterEgo">
    </label>


    <label for="power">
      Hero Power
      <select id="power"
              required
              [(ngModel)]="model.power" name="power">
        <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
      </select>
    </label>
    <button type="button" (click)="heroForm.reset()">Reset</button>

    <button type="button" (click)="newHero()">Blank</button>

    <button type="submit" [disabled]="!heroForm.form.valid">Submit</button>

  </form>

</div>

<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9">{{ model.name }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Alter Ego</div>
    <div class="col-xs-9">{{ model.alterEgo }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Power</div>
    <div class="col-xs-9">{{ model.power }}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>
