/* ProfileEditorComponent's private CSS styles */
:host {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

label {
  display: block;
  width: 6em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}

input, select {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #cfd8dc;
  }

  &:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
}

.ng-valid[required], .ng-valid.required {
  &.ng-touched {
    border-left: 5px solid #42A948; /* green */
  }
}

.ng-touched.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.alert {
  color: red;
}
