<h1>Form</h1>

<router-outlet></router-outlet>

<hr>

<ul>
  <li>
    <a [routerLink]="'/reactive-1'" routerLinkActive="active">
      Simple Reactive
    </a>
    <ul>
      <li>
        <a [routerLink]="'/reactive-2'" routerLinkActive="active">
          Another Reactive Form
        </a>
      </li>
      <li>
        <a [routerLink]="'/reactive-3'" routerLinkActive="active">
          Reactive Group
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a [routerLink]="'/template-1'" routerLinkActive="active">
      Simple Template Driven
    </a>
    <ul>
      <li>
        <a [routerLink]="'/template-2'" routerLinkActive="active">
          Template Driven Form
        </a>
      </li>
    </ul>
  </li>
</ul>
