<h2>Reactive form group</h2>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <label>
    First Name:
    <input id="name" class="form-control"
           formControlName="firstName" required >

    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
         class="alert alert-danger">

      <div *ngIf="firstName.errors.required">
        Name is required.
      </div>
      <div *ngIf="firstName.errors.minlength">
        Name must be at least 4 characters long.
      </div>
      <div *ngIf="firstName.errors.forbiddenName">
        Name cannot be Bob.
      </div>
    </div>
  </label>

  <label>
    Last Name:
    <input type="text" formControlName="lastName">

    <div *ngIf="profileForm.errors?.firstAndLastNameValidator && (profileForm.touched || profileForm.dirty)" class="cross-validation-error-message alert alert-danger">
      First name cannot match last name.
    </div>
  </label>

  <div formGroupName="address">
    <h3>Address</h3>

    <label>
      Street:
      <input type="text" formControlName="street">
    </label>

    <label>
      City:
      <input type="text" formControlName="city">
    </label>

    <label>
      State:
      <input type="text" formControlName="state">
    </label>

    <label>
      Zip Code:
      <input type="text" formControlName="zip">
    </label>
  </div>

  <div formArrayName="aliases">
    <h3>Aliases</h3>
    <button (click)="addAlias()">Add Alias</button>

    <div *ngFor="let address of aliases.controls; let i=index">
      <!-- The repeated alias template -->
      <label>
        Alias:
        <input type="text" [formControlName]="i">
      </label>
    </div>
  </div>

  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
<pre>
  Form Status: {{ profileForm.status }}
</pre>
<pre>
  Form Value: {{ valueString }}
</pre>
<p>
  <button (click)="updateProfile()">Update Profile</button>
</p>
